body {
    margin: 0;
}

.socials {
    background-color: white;
    width: 5rem;
    display: flex;
    vertical-align: middle;
    align-items: flex-start;
}

button:hover{
    background-color: blueviolet;
}

li a:hover{
    color: turquoise;
}
